
<mat-card>

  <h2>Przykład 1</h2>
  <p>Proste wyświetlenie danych</p>
  <ul class="main-list">
    <li *ngFor="let elements of fileContentArray">
      <ul class="sub-list">
        <li 
        *ngFor="let element of elements; let i = index"
        [ngStyle]="{'margin-left': (i*2)+'rem'}"
        > {{element}} </li>
      </ul>
    </li>
  </ul>
</mat-card>

<mat-card>
  <h2>Przykład 2</h2>
  <mat-accordion>

    <div *ngFor="let childrens of getfileContentComplex().childrens ">
      <div
        *ngFor="let item of childrens"
      >
        {{item.label}}
      </div>
      <!-- <mat-expansion-panel 
        hideToggle
        >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span [ngStyle]="{'margin-left': '2rem'}"> {{item.value}} </span>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <p>Some extra data</p>
        <ng-container *ngTemplateOutlet="recursiveExpansion; context:{list: item.nodes}"></ng-container>
      
      </mat-expansion-panel> -->
    </div>
  </mat-accordion> 
</mat-card>

<ng-template #recursiveExpansion let-list="list">
  {{list}}
</ng-template>

<!-- <ng-template #recursiveExpansion let-list="list">
  <mat-expansion-panel 
    *ngFor="let item of list | keyvalue"
    hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span [ngStyle]="{'margin-left': '2rem'}"> {{item.value.value}} </span>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Some extra data</p>
      <ng-container *ngTemplateOutlet="recursiveExpansion; context:{list: item.value.nodes}"></ng-container>
      
    </mat-expansion-panel>
</ng-template> -->



  <!-- <mat-accordion *ngFor="let elements of fileContentComplex">
    <ng-template #recursiveExpansion let-list="elements">
      <div
      >
      <mat-expansion-panel 
        *ngFor="let element of elements; let i = index"
        hideToggle
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span [ngStyle]="{'margin-left': (i*2)+'rem'}"> {{element.value}} </span>
            </mat-panel-title>
            <mat-panel-description>
              <p>Some extra data</p>
              <ng-container *ngTemplateOutlet="recursiveExpansion; context:{elements: element.nodes}"></ng-container>
            </mat-panel-description>
          </mat-expansion-panel-header>
          
        </mat-expansion-panel>
      </div>
    </ng-template>
    <ng-container *ngTemplateOutlet="recursiveExpansion; context:{elements: element.nodes}"></ng-container>
  </mat-accordion> 
</mat-card>-->
