/* You can add global styles to this file, and also import other style files */


.main-list{
  list-style-type: none;
}


.sub-list{
  list-style-type: none;
}

mat-card{
  max-width: 80%;
  margin: 2rem auto;
}

.sub-list li{
  min-width: 4rem;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
